// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$canvas-width: 400px;
$canvas-height: 400px;

body{
    padding-top: 4rem
}

.game.container{
    margin: auto;
    width: $canvas-width;
    p{
        margin: auto 0 !important;
    }

    .card{
        display: flex;
        flex-direction: row;
        width: $canvas-width;
        justify-content: space-between;
        align-items: center;
        padding: 0 .5rem;
        background: floralwhite;

        button{
            margin: .2rem;
        }
    }
}

//headers
.card-header{
    text-align: center;
}

//ranking
.rank-field.card {
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: floralwhite;

    p {
        width: 7rem;
        margin: 0;
        padding: 0 1rem;
    }

}

//front or first screen
.start-game{
    .rank-container{
        overflow: scroll;
        width: 23rem;
        background: beige;
        max-height: 12rem;
        padding-top: .5rem;
        margin: 1rem auto 2rem;
    }

    h2{
        text-align: center;
        color: #333;
    }

    button{
        display: flex;
        margin: auto;
    }
}