// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$canvas-width: 400px;
$canvas-height: 400px;

//game container

body{
    padding-top: 4rem
}

.game.container{
    margin: auto;
    width: $canvas-width;
    min-width: fit-content !important;
    p{
        margin: auto 0 !important;
    }

    .card{
        display: flex;
        flex-direction: row;
        width: $canvas-width;
        justify-content: space-between;
        align-items: center;
        padding: 0 .5rem;
        background: floralwhite;

        button{
            margin: .2rem;
        }
    }
}

//headers
.card-header{
    text-align: center;
}

h2{
    text-align: center;
    color: #333;
}

//ranking
.rank-field.card {
    margin: auto;
    max-width: 93%;
    display: flex;
    flex-direction: row;
    background-color: floralwhite;

    p {
        width: 7rem;
        margin: 0;
        padding: 0 1rem;
    }

}

//front of first screen
.start-game{
    .rank-container{
        overflow: scroll;

        background: beige;
        max-height: 12rem;
        padding-top: .5rem;
        margin: 1rem auto 2rem;
    }

    button{
        display: flex;
        margin: auto;
    }
}

//controls and buttons

button{
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 0 !important;
    background: #c8e3fe !important;
    color: #168aff !important;
    border: .2em solid #74b9ff !important;

    &:hover{
        background: #168aff !important;
        color: #c8e3fe !important;
    }
}

.btn-success {
    color: #fff !important;
    background-color: #38c172 !important;
    border-color: #38c172 !important;

    &:hover {
        color: #38c172 !important;
        background-color:#fff !important;
    }
}

.controls{
    display: flex;
    align-items: center;
    max-width: fit-content;
    margin-top: 1em !important;
    margin: auto;

    button{
        min-width: 5em !important;
        min-height: 3em !important;
    }

    .middle-controls{
        width: 5em;
        height: fit-content;
        margin-left: 1px;
        margin-right: 1px;

        .up{
            margin-bottom: 1px;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 200px) { 
    .start-game{
        .rank-container{
            width: 90%;
        }
    }
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .start-game{
        .rank-container{
            width: 60%;
        }
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .start-game{
        .rank-container{
            width: 60%;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .start-game{
        .rank-container{
            width: 40%;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .start-game{
        .rank-container{
            width: 35%;
        }
    }
}

