// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$canvas-width: 400px;
$canvas-height: 400px;

//game container

body{
    padding-top: 4rem
}

.game.container{
    margin: auto;
    width: $canvas-width;
    min-width: fit-content !important;
    p{
        margin: auto 0 !important;
    }

    .card{
        display: flex;
        flex-direction: row;
        width: $canvas-width;
        justify-content: space-between;
        align-items: center;
        padding: 0 .5rem;
        background: floralwhite;

        button{
            margin: .2rem;
        }
    }
}

//headers
.card-header{
    text-align: center;
}

h2{
    text-align: center;
    color: #333;
}

//ranking
.rank-field.card {
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: floralwhite;

    p {
        width: 7rem;
        margin: 0;
        padding: 0 1rem;
    }

}

//front of first screen
.start-game{
    .rank-container{
        overflow: scroll;
        width: 23rem;
        background: beige;
        max-height: 12rem;
        padding-top: .5rem;
        margin: 1rem auto 2rem;
    }

    button{
        display: flex;
        margin: auto;
    }
}

//controls

.controls{
    display: flex;
    align-items: center;
    max-width: fit-content;
    margin-top: 1em !important;
    margin: auto;

    button{
        width: 5em;
        height: 3em;
        border-radius: 0 !important;
        background: #e9f4ff;
        color: #168aff;
        border: .2em solid #74b9ff;
    }

    .middle-controls{
        width: 5em;
        height: fit-content;
        margin-left: 1px;
        margin-right: 1px;

        .up{
            margin-bottom: 1px;
        }
    }
}

